/*breakpoint: 1110*/

* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    max-width: 100%;
    display: grid;
    font-family: "Helvetica", arial, sans-serif;
}

.header {
    background-color: #00d1b0;
    display: grid;
    /*padding: 2em 5em;*/
    grid-row-start: 1;
}

.info {
    padding: 3em 5em;
    color: #fafafa;
    font-weight: 500;
}

.info h1 {
    font-size: 2em;
    margin-bottom: 0.4em;
}

.info > p {
    font-weight: 500;
    font-size: 1.2em;
}

.filter {
    align-self: flex-end;
    background-color: #209cee;
    padding: 0 3em;
}
.filter form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter form > * {
    padding: 1em;
    width: 100%;
}

.filter form select {
    padding: 0 1em;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 1em;
    border: 1px solid #ecf0f1;
    background: #fafafa;
}

.mainview {
    background-color: #fafafa;
    padding: 2em;
    grid-row-start: 2;
}

.hotel-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
}

.card {
    align-self: start;
    color: #090909;
    display: flex;
    flex-flow: column;
    margin: 1em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.card img {
    width: 100%;
}

.title-desc {
    padding: 2em 1em;
}

.title-desc h3 {
    font-size: 1.5em;
    margin: 0;
}

.title-desc p {
    line-height: 1.5em;
    padding: 1em 0;
    font-weight: 600;
    color: #2f2f2f;
}

.info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.btn-book {
    background-color: #00d1b0;
    color: #fafafa;
    line-height: 3em;
    font-size: 1em;
    font-weight: 600;
    border: none;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: black;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 1em;
    border: 1px solid #ecf0f1;
    background: #fafafa;
    display: inline-block !important;
    visibility: visible !important;
    width: 100%;
    line-height: 2em;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 0.2em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
input[type="date"]:hover {
    border-color: #888;
}

input[type="date"],
focus {
    color: black;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-align: center;
}

/* class applies to select element itself, not a wrapper element */
.select-css {
    display: block;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 2em;
    padding: 1em;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.2em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fafafa;
    margin: 1em;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference */
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right 0.7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: 0.65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}
/* Hover style */
.select-css:hover {
    border-color: #888;
}
