* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    max-width: 100%;
}

.header {
    height: 10em;
    background-color: blue;
    display: grid;
    padding: 2em 5em;
}

.filter {
    align-self: flex-end;
    padding: 1em;
}

.mainview {
    background-color: red;
    padding: 2em;
}

.hotel-container {
    background-color: green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
}

.card {
    /*border: 1px solid black;*/
    display: flex;
    flex-flow: column;
    padding: 1em;
}

.card img {
    width: 100%;
}

.filter {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
