* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
}

.header {
    height: 10em;
    background-color: blue;
    display: grid;
    margin: 0 0 1em 0;
}

.filter {
    align-self: flex-end;
}

.mainview {
    background-color: red;
    padding: 2em;
}

.hotel-container {
    background-color: green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    padding: 1em;
}

.card img {
    width: 100%;
}

.filter {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
